<%- include('../includes/header') %>
<%- include('../includes/navbar', { activePage: 'Configuration' }) %>
<%- include('../includes/configNav', { activePage }) %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Access Settings</h1> 
            <p>
                This page is used to manage access to the Njobvu AI platform. You can add or remove users from the platform.
            </p>
            <hr>
        </div>
    </div>
    <div>
        <h3>
            Give Access
        </h3>
        <p>
            Give access to new users to this project.
        </p>
        <form class="row" action ="/addUser" method="POST" enctype="multipart/form-data" id="addUserForm">
            <input type="hidden" name="PName" value="<%= PName %>">
            <input type="hidden" name="Admin" value="<%= Admin %>">
            <input type="hidden" name="IDX" value="<%= IDX %>">
            <div class="col-auto">
                <input name="newUser" type="text" class="form-control" id="newUser" placeholder="Nobody" required>
            </div>
            <div class="col-auto">
                <% if(user == Admin) {%>
                    <button type="submit" class="btn btn-primary mb-3">Add</button>
                <%}else {%>
                    <a href="#" role="button" class="btn btn-danger disabled" value="Add">Add</a>
                <%}%>
            </div>
        </form>
    </div>
    <hr>
    <div>
        <h3>
            Change Access
        </h3>
        <p class="card-text">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <%for(var i = 0; i < access.length; i++){%>
                            <td scope="row"><%= access[i] %></td>
                            <% if(user == Admin) {%>
                                <td class="text-right">
                                    <form class="add-User-form" action ="/removeAccess" method="POST" enctype="multipart/form-data" id="removeUserForm">
                                        <input type="hidden" name="PName" value="<%= PName %>">
                                        <input type="hidden" name="Admin" value="<%= Admin %>">
                                        <input type="hidden" name="IDX" value="<%= IDX %>">
                                        <!--  -->
                                        <button type="submit" name="OldUser" class="btn btn-danger" value="<%= access[i] %>" style="border-radius: 0">Remove</button>
                                    </form>
                                </td>
                            <%}else {%>
                                <td class="text-right"><a href="#" role="button" class="btn btn-danger disabled" value="REMOVE" style="border-radius: 0">REMOVE</a></td>   
                            <%}%>
                            <% if(user == Admin) {%>
                                <td class="text-right">
                                    <% if(DAdmin.includes(access[i])) {%>
                                        <td class="text-right"><a href="#" role="button" class="btn btn-primary disabled" value="Make ADMIN" style="border-radius: 0">ADMIN OF SAME PROJECT NAME</a></td>
                                    <%}else{%>
                                    <form class="add-User-form" action ="/transferAdmin?IDX=<%= IDX %>" method="POST" enctype="multipart/form-data" id="transferAdminForm">
                                        <input type="hidden" name="PName" value="<%= PName %>">
                                        <input type="hidden" name="Admin" value="<%= Admin %>">
                                        <input type="hidden" name="IDX" value="<%= IDX %>">
                                        <!--  -->
                                        <button type="submit" name= "NewAdmin" class="btn btn-danger" id="<%= access[i] %>" value="<%= access[i] %>" style="border-radius: 0">Make Admin</button>
                                    </form>
                                    <%}%>
                                </td>
                            <%}else if(access[i] == Admin) {%>
                                <td class="text-right"><a href="#" role="button" class="btn btn-primary disabled" value="MAKE ADMIN" style="border-radius: 0">IS ADMIN</a></td>   
                            <%}else{%>
                                <td class="text-right"><a href="#" role="button" class="btn btn-primary disabled" value="MAKE ADMIN" style="border-radius: 0">MAKE ADMIN</a></td>	
                            <%}%>
                        <%}%>
                    </tr>
                </tbody>   
            </table>
        </p>
    </div>
</div>