<%- include('../includes/header') %>
<%- include('../includes/navbar', { activePage: 'Configuration' }) %>
<%- include('../includes/configNav', { activePage }) %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Import Images</h1>
            <p>
                This page allow you to import images to the Njobvu AI platform. Upload multiple images at once by zipping them into a single file.
            </p>
            <hr>
            <div>
                <h3>
                    Add Images
                </h3>
                <p>
                    Upload Images(.zip)
                </p>
                <form action="/addImages" method="POST" enctype="multipart/form-data" id="addImagesForm">
                    <div class="mb-3">
                        <input id = "upload_images" name="upload_images" class="form-control" type="file" required>
                    </div>
                    <div>
                        <label class="mb-2" ="improgress" id="improgress"></label>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit File</button>
                </form>
            </div>
        </div>
    </div> 
</div>

<script>
    document.forms['addImagesForm'].addEventListener('submit', (event) => {

		event.preventDefault();

        console.log("handleImport");
			
		console.log("handleImport");
		var formData = new FormData();
		const upload_images = document.getElementById('upload_images');
		const files = upload_images.files[0];
		formData.append('upload_images', files);
		formData.append("PName", "<%= PName %>");
		formData.append("Admin", "<%= Admin %>");
		formData.append("IDX", "<%= IDX %>");
		// 

		
		var request = new XMLHttpRequest();
		request.upload.addEventListener('progress', function (e) {
			var file1Size = $('#upload_images')[0].files[0].size;
			if (e.loaded <= file1Size) {
				var percent = Math.round(e.loaded / file1Size * 100);
				console.log(percent);
				$('#improgress').text("Percent Uploaded: " + percent)

			} 
			if(e.loaded == e.total){
				$('#improgress').text("Uploaded Finished. Server processing upload. Please wait for the closing prompt.")
				document.getElementById("Importbtn").style.display = "none";
				alert("Uploaded Finished. Server processing upload. Please wait for the closing prompt.");
			}
		}, true);   

		request.open("post", event.target.action, true);
		request.onreadystatechange = function receiveResponse() {
			if(this.readyState == 4)
			{
				if(this.status == 200)
				{
					var mssg = this.response
					console.log("mssg: ", mssg)
					console.log('mssg["Success"]: ', mssg["Success"]);
					alert(this.response);
					window.location.reload();
				}
				else
				{
					alert("Something went wrong! ", this.response);
				}
			}
		}
		request.send(formData);
		console.log(formData);
	});



	async function newImages(){
		console.log("newImages");
		var form = document.getElementById('addImagesForm');
		var formData = new FormData(form);
		
		formData.append("PName", "<%= PName %>");
		formData.append("Admin", "<%= Admin %>");
		formData.append("IDX", "<%= IDX %>");
		// 
		
		let options = {
			method: form.method, 
			body: formData
		}
		
		let cred = await fetch('/addImages', options);
		cred = await cred.json();
		
		if(cred.Success == "Yes"){
			alert("New Images added to project");
			window.location.replace("/config/imageSettings?IDX=<%= IDX %>");
		}
		else{
			alert("There was an error adding images to the project: "+cred.Success);
			window.location.replace("/config/imageSettings?IDX=<%= IDX %>");
		}
	}
</script>