<div class="col-md-12">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link <%= activePage === 'project' ? 'active' : '' %>" href="/project?IDX=<%= IDX %>&page=1&perPage=10" style="border-radius: 0">Label</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= activePage === 'Annotate' ? 'active' : '' %>" href="/annotate?IDX=<%= IDX %>" style="border-radius: 0">Annotate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= activePage === 'Stats' ? 'active' : '' %>" href="/stats?IDX=<%= IDX %>" style="border-radius: 0">Stats</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= activePage === 'Configuration' ? 'active' : '' %>" href="/config/projSettings?IDX=<%= IDX %>" style="border-radius: 0">Configuration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= activePage === 'Download' ? 'active' : '' %>" href="/download?IDX=<%= IDX %>" style="border-radius: 0">Download</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= activePage === 'training' ? 'active' : '' %>" href="/training?IDX=<%= IDX %>" style="border-radius: 0">Training</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= activePage === 'Yolo' ? 'active' : '' %>" href="/yolo?IDX=<%= IDX %>" style="border-radius: 0">Yolo2</a>
        </li>
    </ul>
</div>

