<%- include('includes/header') %>

<div id="review">
    <div class="container">
        <div class="Review">
            <h3>Review Images for Class: <%= CName %></h3>
            <!-- <p id="username">User: <%= user %></p> -->
            <input type="hidden" id="ProjectName" value="<%= PName %>">
            <input type="hidden" id="username" value="<%= user %>">
            <div class="col-md-12">
                <form id="reviewForm" action="/submit-review" method="POST">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <button type="button" id="checkAllButton" class="btn btn-primary">Check All</button>
                            <tr>
                                <th scope="col">Image Name</th>
                                <th scope="col">Image</th>
                                <th scope="col">Bad</th>
                                <th scope="col">Switch Classes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% images.forEach(function(image) { %>
                                <% let imageName = image.IName; %>
                                <% let labels = imageLabels[imageName]; %>
                                <% if (labels) { %>
                                    <% labels.forEach(function(label) { %>
                                        <% if (label.CName === CName) { %>
                                            <tr>
                                                <td><%= label.IName %></td>
                                                <td>
                                                    <img class="Image"
                                                    src="/projects/<%= user %>-<%= PName %>/images/<%= label.IName %>" 
                                                        alt="<%= label.IName %>" 
                                                        width="400"
                                                        height="600"
                                                        style="object-fit: contain; 
                                                               position: relative">
                                                    <input type="hidden" class="LabelX" value="<%= label.X %>">
                                                    <input type="hidden" class="LabelY" value="<%= label.Y %>">
                                                    <input type="hidden" class="LabelWidth" value="<%= label.W %>">
                                                    <input type="hidden" class="LabelHeight" value="<%= label.H %>">
                                                </td>
                                                <td>
                                                    <input type="checkbox" class="badCheckbox" name="bad_<%= label.LID %>" value="<%= label.LID %>">
                                                </td>
                                                <td>
                                                    <form class="SwitchForm" action="/switch-class" method="POST">
                                                        <label for="switchClasses_<%= label.LID %>">Switch to:</label>
                                                        <select name="switchClasses_<%= label.LID %>" class="switchClasses" data-label-id="<%= label.LID %>">
                                                            <% classes.forEach(function(classItem){ %>
                                                                <option value="<%= classItem.CName %>"><%= classItem.CName %></option>
                                                            <% }); %>
                                                        </select>
                                                        <button type="button" class="btn btn-secondary" onclick="handleSwitch(event, '<%= label.LID %>')">Switch</button>
                                                    </form>
                                                </td>
                                            </tr>
                                        <% } %>
                                    <% }); %>
                                <% } %>
                            <% }); %>
                        </tbody>
                    </table>

                    <script>
                        document.addEventListener("DOMContentLoaded", function() {
                            // Get all images and their corresponding crop data
                            const images = document.querySelectorAll("img.Image");

                            console.log('Images:', images);

                            images.forEach(function(img) {
                                // Get the cropping values for the current image
                                let OrginalX = img.parentElement.querySelector("input[class='LabelX']").value;
                                let OrginalY = img.parentElement.querySelector("input[class='LabelY']").value;
                                let OrginalW = img.parentElement.querySelector("input[class='LabelWidth']").value;
                                let OrginalH = img.parentElement.querySelector("input[class='LabelHeight']").value;

                                console.log('Cropping:', OrginalX, OrginalY, OrginalW, OrginalH);
                                console.log('Image:', img);

                                let originalWidth = img.naturalWidth;
                                let originalHeight = img.naturalHeight;

                                console.log('Original size:', originalWidth, originalHeight);

                                let newWidth = img.clientWidth;
                                let newHeight = img.clientHeight;
                           
                                let scaleX = newWidth / originalWidth;
                                let scaleY = newHeight / originalHeight;
                               
                                let scaledX = OrginalX * scaleX;
                                let scaledY = OrginalY * scaleY;
                                let scaledW = OrginalW * scaleX;
                                let scaledH = OrginalH * scaleY;

                                
                                img.style.clipPath = `inset(${scaledY}px ${newWidth - (scaledX + scaledW)}px ${newHeight - (scaledY + scaledH)}px ${scaledX}px)`;
                                
                            });
                        });
                    </script>

                    <button type="submit" class="btn btn-primary" onclick="ReviewForm(event)">Submit Review</button>
                </form>
            </div>
        </div>
    </div>
</div>



<script>
    document.getElementById('checkAllButton').addEventListener('click', function() {
        let checkboxes = document.querySelectorAll('.badCheckbox');
        checkboxes.forEach(function(checkbox) {
            checkbox.checked = true;
        });
    });

    async function handleSwitch(event, labelId) {

        const username = document.getElementById("username").value;
        const projectName = document.getElementById("ProjectName").value;
        const selectElement = document.querySelector(`select[data-label-id='${labelId}']`);
        const selectedClass = selectElement.value;

        const data = {
            "username": username,
            "class": selectedClass,
            "PName": projectName,
            "LabelID": labelId
        };

        try {
            const response = await fetch('/switch-class', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            console.log('API response:', response);

            if (response.ok) {
                const result = await response.json();
                console.log('Class switched successfully:', result);
                location.reload();
            } else {
                console.error('Failed to switch class:', response.statusText);
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }

    document.querySelectorAll('.SwitchForm').forEach(function(form) {
        form.addEventListener('submit', function(event) {
            handleSwitch(event, form);
        });
    });

    async function ReviewForm(event) {
        
        event.preventDefault();

        const username = document.getElementById("username").value;
        const projectName = document.getElementById("ProjectName").value;
        let badLabels = [];
        document.querySelectorAll('.badCheckbox:checked').forEach(function(checkbox) {
            badLabels.push(checkbox.value); 
        });

        console.log('Username:', username);
        console.log('Project Name:', projectName);
        console.log('Bad Labels:', badLabels);
    
        const data = {
            "username": username,
            "PName": projectName,
            "badlabels": badLabels
        };
    
        console.log('Submitting bad labels:', data);
    
        try {
            const response = await fetch('/submit-review', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });
    
            console.log("Request sent to server");
    
            if(response.ok) {
                console.log("Response OK");
                const result = await response.json();
                console.log('Review form switched successfully:', result);
                location.reload();
            } else {
                console.error('Failed to submit form:', response.statusText);
            }
        } catch (error) {
            console.error('Error:', error);
        }
    };

    document.getElementById('reviewForm').addEventListener('submit', ReviewForm);
    

   

</script>