<%- include('includes/header') %>
<%- include('includes/navbar', { activePage }) %>
<div id="review">
    <div class="container">
        <div class="Review">
            
            <!-- <p id="username">User: <%= user %></p> -->
            <input type="hidden" id="ProjectName" value="<%= PName %>">
            <input type="hidden" id="username" value="<%= user %>">
            <div class="col-md-12">
                <form id="reviewForm" action="/submit-review" method="POST">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <h3 class="justify-content-start">
                                Review Images for Class: <%= CName %>
                            </h3>
                            <select class="form-select justify-content-start" aria-label="Default select example" onchange="window.location.href=this.value;">
                                <% for(var i=0; i<classes.length; i++) { %>
                                    <option value="/review?class=<%= classes[i]['CName'] %>&IDX=0" <%= (selectedClass === classes[i]['CName']) ? 'selected' : '' %>>
                                        <%= classes[i]['CName'] %>
                                    </option>
                                <% } %>
                            </select>  
                            <div class="d-flex justify-content-end" style="padding-bottom: 20px; padding-top: 20px;">
                                <button type="button" id="checkAllButton" class="btn btn-success">Check All</button>
                                <button type="button" id="uncheckAllButton" class="btn btn-danger" style="display: none;">Uncheck All</button>
                            </div>                        
                            <tr>
                                <th scope="col">Image Name</th>
                                <th scope="col">Image</th>
                                <th scope="col">Bad</th>
                                <th scope="col">Switch Classes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% images.forEach(function(image) { %>
                                <% let imageName = image.IName; %>
                                <% let labels = imageLabels[imageName]; %>
                                <% if (labels) { %>
                                  <% labels.forEach(function(label) { %>
                                    <% if (label.CName === CName) { %>
                                      <tr>
                                        <td><%= label.IName %></td>
                                        <td>
                                          <img class="Image" src="/projects/<%= user %>-<%= PName %>/images/<%= label.IName %>" style="display: none;">
                                          <input type="hidden" class="LabelX" value="<%= label.X %>">
                                          <input type="hidden" class="LabelY" value="<%= label.Y %>">
                                          <input type="hidden" class="LabelWidth" value="<%= label.W %>">
                                          <input type="hidden" class="LabelHeight" value="<%= label.H %>">
                                          <canvas id="cropCanvas" style="max-width: 100%; height: 100%; display: block;"></canvas>
                                        </td>
                                        <td>
                                          <input type="checkbox" class="badCheckbox" name="bad_<%= label.LID %>" value="<%= label.LID %>">
                                        </td>
                                        <td>
                                          <form class="SwitchForm" action="/switch-class" method="POST">
                                            <label for="switchClasses_<%= label.LID %>">Switch to:</label>
                                            <select name="switchClasses_<%= label.LID %>" class="switchClasses" data-label-id="<%= label.LID %>">
                                              <% classes.forEach(function(classItem){ %>
                                                <option value="<%= classItem.CName %>"><%= classItem.CName %></option>
                                              <% }); %>
                                            </select>
                                            <button type="button" class="btn btn-secondary" onclick="handleSwitch(event, '<%= label.LID %>')">Switch</button>
                                          </form>
                                        </td>
                                      </tr>
                                    <% } %>
                                  <% }); %>
                                <% } %>
                              <% }); %>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" onclick="ReviewForm(event)">Submit Review</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <% if (currentPage > 1) { %>
                    <button class="btn btn-primary" onclick="window.location.href = '?class=<%= CName %>&IDX=<%= IDX %>&page=<%= currentPage - 1 %>'">Previous</button>
                <% } %>
            </div>
            <div class="col-auto">
                <span>Page <%= currentPage %> of <%= totalPageCount %></span>
            </div>
            <div class="col-auto">
                <% if (currentPage < totalPageCount) { %>
                    <button class="btn btn-primary" onclick="window.location.href = '?class=<%= CName %>&IDX=<%= IDX %>&page=<%= currentPage + 1 %>'">Next</button>
                <% } %>
            </div>
        </div>
    </div>
</div>

<script>

    const urlParams = new URLSearchParams(window.location.search);
    console.log(urlParams);
    const className = urlParams.get('className');
    console.log('hello:', className);

</script>

<script>
    
    document.addEventListener('DOMContentLoaded', function () {
        let images = document.querySelectorAll('.Image');


        images.forEach(function (imageElement, index) {
            
            const cropX = document.querySelectorAll('.LabelX')[index].value;
            const cropY = document.querySelectorAll('.LabelY')[index].value;
            const cropWidth = document.querySelectorAll('.LabelWidth')[index].value;
            const cropHeight = document.querySelectorAll('.LabelHeight')[index].value;
            const imageData = {
                imageUrl: imageElement.src,
                crop: {
                    x: parseFloat(cropX),
                    y: parseFloat(cropY),
                    width: parseFloat(cropWidth),
                    height: parseFloat(cropHeight)
                }
            };
            const canvas = document.querySelectorAll('#cropCanvas')[index];
            const ctx = canvas.getContext('2d');
            const image = new Image();
            image.src = imageData.imageUrl;
            image.onload = function(){
                canvas.width = imageData.crop.width;
                canvas.height = imageData.crop.height;
                ctx.drawImage(
                    image,
                    imageData.crop.x,
                    imageData.crop.y,
                    imageData.crop.width,
                    imageData.crop.height,
                    0,
                    0,
                    imageData.crop.width,
                    imageData.crop.height
                );
            };
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const checkAllButton = document.getElementById('checkAllButton');
        const uncheckAllButton = document.getElementById('uncheckAllButton');
        const checkboxes = document.querySelectorAll('.badCheckbox');

        checkAllButton.addEventListener('click', function() {
            checkboxes.forEach(checkbox => {
                checkbox.checked = true;
            });
            checkAllButton.style.display = 'none';
            uncheckAllButton.style.display = 'inline-block';
        });

        uncheckAllButton.addEventListener('click', function() {
            checkboxes.forEach(checkbox => {
                checkbox.checked = false;
            });
            uncheckAllButton.style.display = 'none';
            checkAllButton.style.display = 'inline-block';
        });
    });

    async function handleSwitch(event, labelId) {

        const username = document.getElementById("username").value;
        const projectName = document.getElementById("ProjectName").value;
        const selectElement = document.querySelector(`select[data-label-id='${labelId}']`);
        const selectedClass = selectElement.value;

        const data = {
            "username": username,
            "class": selectedClass,
            "PName": projectName,
            "LabelID": labelId
        };

        try {
            const response = await fetch('/switch-class', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            console.log('API response:', response);

            if (response.ok) {
                const result = await response.json();
                console.log('Class switched successfully:', result);
                location.reload();
            } else {
                console.error('Failed to switch class:', response.statusText);
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }

    document.querySelectorAll('.SwitchForm').forEach(function(form) {
        form.addEventListener('submit', function(event) {
            handleSwitch(event, form);
        });
    });

    document.querySelectorAll('.badCheckbox').forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
            updateBadLabels();
        });
    });

    function updateBadLabels() {
        let badLabels = JSON.parse(localStorage.getItem('badLabels')) || [];

        let currentPageLabels = [];
        document.querySelectorAll('.badCheckbox').forEach(function(checkbox) {
            if (checkbox.checked) {
                currentPageLabels.push(checkbox.value); // Collect all checked labels
            } else {
                badLabels = badLabels.filter(label => label !== checkbox.value);
            }
        });

        badLabels = [...new Set([...badLabels, ...currentPageLabels])];

        localStorage.setItem('badLabels', JSON.stringify(badLabels));
        console.log('Bad labels:', badLabels);
    }

    document.addEventListener('DOMContentLoaded', function() {
        restoreCheckboxStatus();
    });

    function restoreCheckboxStatus(){
        let badLabels = JSON.parse(localStorage.getItem('badLabels')) || [];
        
        document.querySelectorAll('.badCheckbox').forEach(function(checkbox) {
            if(badLabels.includes(checkbox.value)){
                checkbox.checked = true;
            }
        });
        console.log('Restored bad labels:', badLabels);
    }
    

    async function ReviewForm(event) {
        
        event.preventDefault();

        const username = document.getElementById("username").value;
        const projectName = document.getElementById("ProjectName").value;
        let badLabels = JSON.parse(localStorage.getItem('badLabels')) || [];

        console.log('Username:', username);
        console.log('Project Name:', projectName);
        console.log('Bad Labels:', badLabels);
    
        const data = {
            "username": username,
            "PName": projectName,
            "badlabels": badLabels
        };
    
        console.log('Submitting bad labels:', data);
    
        try {
            const response = await fetch('/submit-review', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });
    
            console.log("Request sent to server");
    
            if(response.ok) {
                console.log("Response OK");
                const result = await response.json();
                console.log('Review form switched successfully:', result);
                location.reload();
                localStorage.removeItem('badLabels');
                console.log('Bad labels cleared');
                location.reload();

            } else {
                console.error('Failed to submit form:', response.statusText);
            }
        } catch (error) {
            console.error('Error:', error);
        }
    };

    document.getElementById('reviewForm').addEventListener('submit', ReviewForm);

</script>